[submodule "extern/cjson/src"]
	path = extern/cjson/src
	url = git://github.com/DaveGamble/cJSON.git
[submodule "extern/azure_c_shared/src"]
	path = extern/azure_c_shared/src
	url = https://gitee.com/hailuntaile/azure-c-shared-utility.git
	branch = master
[submodule "extern/spdlog/src"]
	path = extern/spdlog/src
	url = https://gitee.com/hejuncheng1/spdlog.git
[submodule "extern/libyuv/src"]
	path = extern/libyuv/src
	url = https://gitee.com/xthuang/libyuv.git
[submodule "extern/libmatroska/src"]
	path = extern/libmatroska/src
	url = https://gitee.com/rzkn/libmatroska.git
[submodule "extern/libeml/src"]
	path = extern/libebml/src
	url = git://github.com/Matroska-Org/libebml.git
[submodule "extern/imgui/src"]
	path = extern/imgui/src
	url = https://gitee.com/hellowanda/imgui.git
[submodule "extern/googletest/src"]
	path = extern/googletest/src
	url = git://github.com/google/googletest.git
[submodule "extern/glfw/src"]
	path = extern/glfw/src
	url = https://gitee.com/scu319hy/glfw.git
[submodule "extern/libsoundio/src"]
	path = extern/libsoundio/src
	url = https://gitee.com/alone-wl/libsoundio.git
[submodule "extern/libjpeg-turbo/src"]
	path = extern/libjpeg-turbo/src
	url = https://gitee.com/mirrors/libjpeg-turbo.git
[submodule "extern/libusb/src"]
	path = extern/libusb/src
	url = https://gitee.com/daimaxiaozi/libusb.git
[submodule "extern/libuvc/src"]
	path = extern/libuvc/src
	url = https://gitee.com/wdb111/libuvc.git
	branch = Azure-Kinect-Sensor-SDK
